.calendar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calendar-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.calendar-controls button {
  border: none;
  height: 4.4rem;
  background-color: #0d6efd;
  transition: .3s;
  color: white;
  width: 8.5rem;
  font-size: 150%;
}

.calendar-controls button:hover {

  background-color: #024cbd;
  transition: .3s;

}


.removeProyectButton{
  display: none;
}

#removeProyectHolder{
  position: relative;
  top: 5px
}

#removeProyectImg{
  max-width: 1.6rem;
  max-height: 1.6rem;
  filter: invert(1);
  transition: 0.2s;
}

#removeProyectImg:hover{
  
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(310deg) brightness(100%) contrast(100%);
}

#removeProyectImg:active{
  
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(310deg) brightness(100%) contrast(70%);
}



#viewProyectSummaryButton{
  display: none;
}


#viewSummaryHolder{
  margin-left: 10px;
  position: relative;
  top: 4px;

}

#viewProyectSummaryImg{
  max-width: 1.3rem;
  max-height: 1.5rem;
  filter: invert(1);
  transition: 0.2s;
}

#viewProyectSummaryImg:hover{
  filter: invert(0.7);
}

#viewProyectSummaryImg:active{
  filter: invert(0.6);
}


#prevMonth {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#nextMonth {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.calendar-controls p {
  margin: 0;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  height: 4.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.calendarMenu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
  display: flex;
}

.item {
  margin: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: .1s;
}

.item:hover {
  border-radius: 5px;
  background-color: lightgray;
  cursor: default;
  user-select: none;
  transition: .1s;
}

.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  border: 1px solid black;
  margin-top: 2pt;
  width: 15rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: left;
  background-color: whitesmoke;
}

.dropdown li {
  padding-left: 5px;
  padding-top: 5px;
}

.dropdown li ~ li {
  border-top: 1px solid black;
}

.dropdown li:hover {
  background-color: lightgray;
}

#menu-five{
  margin-left: auto;
}

.closed {
  visibility: hidden;
  position: absolute;
}


@keyframes bottom-to-top {
  0% {
    top: 56%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}

.configPanel {
  min-width: 35rem;
  min-height: fit-content;
  max-width: 55rem;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: bottom-to-top 0.3s;
  pointer-events: all;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
  transition: .2s;
  overflow: hidden;

}

.configDisabled {
  opacity: 1;
  pointer-events: none;
  background: transparent;
  border: 0;
  font-size: 0;
  visibility: hidden;
  display: none;

}

/*Reglas de visualización de la cabecera*/

.configHeader {
  display: grid;
  grid-template-columns: auto auto 6rem;
}

.windowName {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 20pt;
}

.closeButton {
  margin-top: 10px;
  border: none;
  color: #0d6efd;
  background: inherit;
  grid-column-start: 3;
  grid-column-end: 3;
  height: 3rem;
  margin-right: 10px;
  border-radius: 5pt;
  transition: .6s initial;
}

.closeButton:hover {
  color: red;
  text-decoration: underline red 1px;
  border: 1px solid red;
  transition: .6s;
  box-shadow: 5px 10px red;
}

.closeButton:active {
  box-shadow: none;
  background-color: rgb(247, 212, 212);
  color: red;
  text-decoration: underline red 1px;
}

/*reglas para visualización de cuerpo de las plantllas general*/

.configBody {
  padding: 1.5rem;
}

/*Reglas para la visualización de la plantilla de configuración de calendario*/

.workHours {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.workHours p {
  text-align: center;
}

.dates{
  display: grid;
  grid-template-columns: auto auto auto;
}

.festivos h3{
  padding-top: 2rem;
}

#container{
  text-align: center;
  
}

#saveChangesButtonDiv{
  display: flex;
  justify-content: center;
}

#addFestivo, #saveCalendarConfig{
  margin-top: 1.3rem;
  margin-bottom: 10px;
  grid-column-start: 2;
  grid-column-end: 2;
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  padding: 10px;
}

#addFestivo:hover, #saveCalendarConfig:hover{
  border-radius: 5pt;
  border: 1px solid ;
  transition: .3s;
}

#addFestivo:active, #saveCalendarConfig:active{
  background-color: #024cbd;
  color: #FFFFFF;
  transition: .3s;
}

.vacations{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 2rem;
  text-align: center;
  column-gap: 5pt;
}

.vacations input, .vacations p{
  height: 1.5rem;
}
.vacations p{
  margin: 0;
  text-align:center;
  padding-top: 2.5pt;
}

.listVacations{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 8rem;
  border: 1px solid black;
  border-radius: 5pt;
  padding: .5rem;
}

.vacations input[type="button"]{
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  
}

.vacations input[type="button"]:hover{
  color: red;
  text-decoration: underline red 1px;
  border: 1px solid red;
  transition: .2s;
}

.vacations input[type="button"]:active{
  box-shadow: none;
  background-color: rgb(247, 212, 212);
  color: red;
  text-decoration: underline red 1px;
}

/*reglas para la plantilla de creación de usuario*/

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dataField{
 align-self: flex-start;
}

.formulario input{
  width: 100%;
}

#contenedorAdmin{
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

#contenedorAdmin input{
  height: 15px;
  width: 15px;
  margin-top: 10px;
}

#contenedorAdmin label{
  margin-top: 10px;
}

.errorMessage{
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.66);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;    color: black;
  transition: 1s;
  text-align: center;
  position: relative;
  top: 10pt;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.hidden{
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  margin-bottom: 10px;
}


input[type=submit]{
  max-width: 100pt;
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
}

input[type=submit]:hover{
  border-radius: 5pt;
  border: 1px solid ;
  transition: .3s;
  text-decoration: none;
}

input[type="submit"]:active{
  background-color: #024cbd;
  color: #FFFFFF;
  transition: .3s;
}

/*Reglas para la visualización de la plantilla editar datos de usuario*/



.userData{
  display: grid;
  grid-template-columns: 2rem 15rem 8rem 4rem;
  grid-template-rows: 2rem auto;
  text-align: center;
  align-items: center;
  column-gap: 6px;
  border-bottom: 1px solid black;
}
#operatorTasks{
  margin-left: 1rem;
  grid-column: 1 / -1;
  justify-self: start;
}
.userData:last-child{
  border: none;
}

.userData h3, .userData p{
  height: 1.5rem;
}
.userData label{
  margin: 0;
  text-align:center;
  padding-top: 3px;
}

.listUsers{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 16rem;
  border: 1px solid black;
  border-radius: 5pt;
  padding: .5rem;
  
}

.userData{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.userData input[type="button"]{
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  
}

.userData input[type="button"]:hover{
  color: red;
  text-decoration: underline red 1px;
  border: 1px solid red;
  transition: .2s;
}

.userData input[type="button"]:active{
  box-shadow: none;
  background-color: rgb(247, 212, 212);
  color: red;
  text-decoration: underline red 1px;
}

#editAlternatives{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#userTask{
  display: flex;
  direction: row;
}

.tareasEnLinea {
  margin-top: 10px;
  padding: 10px;
  width: 28rem;
  height: 2.5rem;
  max-width: 28rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  white-space: nowrap;
  overflow-x: scroll;
}

.tareasEnLinea div {
  white-space: nowrap; 
}

.tareasEnLinea div:hover {
  transition: .5s;
  color: #0d6efd;
  cursor: default;
}

/*Reglas de visualización para la plantilla de edición*/
.templateData{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: 2rem;
  text-align: center;
  column-gap: 6px;
}

.templateData h4{ 
  min-width: 10rem;
  max-width: 10rem;
}

.templateData{
  border-bottom: 1px solid black;
}

.templateData:last-child{
  border: none;
}

.templateData input{
  height: 1.5rem;
}

.listTemplates{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 16rem;
  border: 1px solid black;
  border-radius: 5pt;
  padding: .5rem;
  
}

.templateData{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.templateData input[type="button"]{
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  
}

.templateData input[type="button"]:hover{
  color: red;
  text-decoration: underline red 1px;
  border: 1px solid red;
  transition: .2s;
}

.templateData input[type="button"]:active{
  box-shadow: none;
  background-color: rgb(247, 212, 212);
  color: red;
  text-decoration: underline red 1px;
}

.confirmChanges{
  margin-top: 1.3rem;
  margin-bottom: 10px;
  position: relative;
  width: 6rem;
  left: 50%;
  transform: translate(-50%);
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  padding: 10px;
}

#editar{
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
}

.confirmChanges:hover, #editar:hover{
  border-radius: 5pt;
  border: 1px solid ;
  transition: .3s;
  text-decoration: none;
}
.confirmChanges:active, #editar:active{
  background-color: #024cbd;
  color: #FFFFFF;
  transition: .3s;
}

/*Reglas de presentación para plantilla de nuevo proyecto*/

.templateSelect{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 2rem;
  text-align: center;
  column-gap: 6px;
}

.templateSelect{
  border-bottom: 1px solid black;
}

.templateSelect h4{
  align-self: center;
  max-width: 15rem;
  min-width: 15rem;
}

.templateSelect:last-child{
  border: none;
}

.templateSelect input{
  height: 1.5rem;
}

.listSelect{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 16rem;
  border: 1px solid black;
  border-radius: 5pt;
  padding: .5rem;
  
}

.templateSelect{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.templateName{
  align-self: center;
}

.dateStartSelector{
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#quantity{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#quantitySelector{
  text-align: center;
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  padding: 1rem;
}

#quantitySelector:hover{
  border-radius: 5pt;
  border: 1px solid ;
  transition: .3s;
  text-decoration: none;
}

#quantitySelector:active{
  background-color: #024cbd;
  color: #FFFFFF;
  transition: .3s;
}

/*reglas de estilo para nuevo proyecto sin plantilla*/


#proyectNameInput{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 25px;
  max-height: 25px;
  align-items: center;
}

#inputName{
  width: 20rem;
}

#newProyectSPbutton{
  display: flex;
  justify-content: center;
}

#iniciarProyecto{
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  padding: 1rem;
}

#iniciarProyecto:hover{
  border-radius: 5pt;
  border: 1px solid ;
  transition: .3s;
  text-decoration: none;
}

#iniciarProyecto:active{
  background-color: #024cbd;
  color: #FFFFFF;
  transition: .3s;
}


/* reglas de estilo para resumen de proyectos */

#proyectDataHeaders{
  display: grid;
  grid-template-columns: 8rem 7rem 6rem 6rem 6rem 6rem;
  align-items: center;
  gap: .1rem;
  border-top: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid lightgray;
}

#proyectDataHeaders h4{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  border-right: 1px solid lightgray;
  height: 4rem;
}

#proyectDataHeaders h4:last-child{
  border-right: none;
}

#proyectDataItem{
  display: grid;
  grid-template-columns: 8rem 7rem 6rem 6rem 6rem 6rem;
}

#proyectDataItem p{
  text-align: center;
}

#proyectDataField{
  max-height: 20rem;
  overflow-y: auto;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#proyectState{
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding-top: 1.4rem;
}