.header{
  font-family: 'Lucida Sans', Verdana, sans-serif;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

#proyectName{
  font-size: x-large;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 700;
  width: 25rem;
  outline: none;
  border: none;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

#proyectName:hover{
  border-bottom: 2px solid lightgray;
}

#proyectName:focus{
  border-bottom: 2px solid #0d6efd;
  transition: 0.7s;
}

#submit{
  background: inherit;
  outline: none;
  border: 1px solid #0d6efd;
  padding: 10px;
  border-radius: 5pt;
  color: #0d6efd;
  margin-left: 1rem;
}

#submit:hover{
  text-decoration: underline;
}

#submit:active{

  background-color: #024cbd;
  color: whitesmoke;

}

#return{
  background: inherit;
  outline: none;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5pt;
  color: red;
  margin-left: 1rem;
}

#return:hover{
  text-decoration: underline;
}

#return:active{

  background-color: rgb(249, 192, 192);
  color: red;

}

.scheduleWindow {
  margin-top: 10px;
  height: 90vh;
  width: 100%;

}

#CPM {
  background: inherit;
  outline: none;
  border: 1px solid #198754;
  padding: 10px;
  border-radius: 5pt;
  color: #198754;
  margin-left: 1rem;

}

#CPM:hover {
  background-color: #198754;  
  color: #fff;                    


}

#CPM:active {
  background-color: #146c43;
  color: #fff;
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

/*reglas de presentación del dialog*/

.dialogHeader {
  display: grid;
  grid-template-columns: auto auto 6rem;
}

#optionsDialog{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}


.dialogDisabled {
  opacity: 1;
  pointer-events: none;
  background: transparent;
  border: 0;
  font-size: 0;
  visibility: hidden;
  display: none;

}

.dialogPanel {
  z-index: 100000;
  min-width: 25rem;
  min-height: fit-content;
  max-width: 55rem;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: bottom-to-top 0.3s;
  pointer-events: all;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

#closeDialogButton{
  text-align: center;
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-radius: 5pt;
  background: inherit;
  color: #0d6efd;
  padding: 1rem;
}

#closeDialogButton:hover{
  border-radius: 5pt;
  border: 1px solid ;
  transition: .3s;
  text-decoration: none;
}

#closeDialogButton:active{
  background-color: #024cbd;
  color: #FFFFFF;
  transition: .3s;
}

.closeButton {
  margin-top: 10px;
  border: none;
  color: #0d6efd;
  background: inherit;
  grid-column-start: 3;
  grid-column-end: 3;
  height: 3rem;
  margin-right: 10px;
  border-radius: 5pt;
  transition: .6s initial;
}

.closeButton:hover {
  color: red;
  text-decoration: underline red 1px;
  border: 1px solid red;
  transition: .6s;
  box-shadow: 5px 10px red;
}

.closeButton:active {
  box-shadow: none;
  background-color: rgb(247, 212, 212);
  color: red;
  text-decoration: underline red 1px;
}

  .highlight-day {
    color: red;
  }