form{
    display: flex;
    position: relative;
    left: 50%;
    top: 50vh;
    transform: translate(-50%,-50%);
    flex-direction: column;
    width: 35%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 80px;
    padding-bottom: 25px;
}

input{
    margin-bottom: 5%;
}

input[type=submit]{
    margin-top: 10%;
    width: 25%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}