body{
    margin: 0;
}
.cal-month-view .cal-day-cell:has(.cal-event[title*="⛔"]) .cal-day-badge::after {
  content: " ⛔";
}

.cal-month-view .cal-day-cell:not(:has(.cal-event[title*="⛔"])):has(.cal-event[title*="⚠️"]) .cal-day-badge::after {
  content: " ⚠️";
}

.cal-month-view .festivo-day .cal-day-number {
  color: #891d1b; /* mismo rojo clarito que fines de semana */
  font-weight:300;
}

.calendar-wrapper .tooltip .tooltip-inner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
